<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>用户信息管理</title>
</head>
<body>
<center>
    <include file="User/menu"/>
    <h4>浏览用户信息</h4>
    <table width="700" border="1">
        <tr>
            <th>id号</th>
            <th>账号</th>
            <th>真实姓名</th>
            <th>email地址</th>
            <th>添加时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <foreach name="list" item="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.username}</td>
                <td>{$vo.name}</td>
                <td>{$vo.email}</td>
                <td>{$vo.addtime}</td>
                <td>{$vo.state}</td>
                <td>
                    <a href="__URL__/del/id/{$vo.id}">删除</a>
                    <a href="__URL__/edit/id/{$vo.id}">修改</a>
                </td>

            </tr>
        </foreach>
    </table>
</center>

</body>
</html>